.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 20px 0;
  border-top: 1px solid var(--divider-color);
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.description {
  text-align: center;
}

.errorBlock,
.warningBlock {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  max-width: 600px;
}

.errorBlock {
  background-color: var(--error-box-bg-color);
}

.errorBlock::before {
  content: '🧨';
  padding-right: 10px;
}

.warningBlock {
  background-color: var(--warning-box-bg-color);
}

.warningBlock::before {
  content: '⚠️';
  padding-right: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formField,
.loginBtn,
.button {
  max-width: 100%;
  width: 260px;
  margin-top: 15px;
}

.formField label {
  display: block;
  font-size: 0.9rem;
  color: var(--label-color);
  padding-bottom: 4px;
}

.formField input {
  width: 100%;
  color: var(--text-color);
}

.loginBtn,
.button,
.formField input {
  padding: 10px;
  font-size: 0.9rem;
  border: 2px solid var(--border-color);
  background-color: transparent;
}

.button.positive {
  background-color: var(--positive-box-bg-color);
}

.button.secondary {
  border-color: var(--secondary-border-color);
  color: var(--text-color);
}

.errorBox {
  max-width: 260px;
  padding: 10px 0;
  color: darkred;
  display: inline-block;
}

.setSpeedLimit {
  display: inline-block;
}

.setSpeedLimit button {
  background-color: transparent;
  border: 2px solid var(--border-color);
  margin: 5px;
  padding: 10px;
  border-radius: 0;
}

.setSpeedLimit button h1 {
  margin: 0;
}

.setSpeedLimit button span {
  color: var(--secondary-border-color)
}

.setSpeedLimit button:focus,
.loginBtn:focus,
.button:focus,
.formField input:focus {
  border: 2px solid var(--active-color);
  outline: none;
}

.formField input[disabled],
.loginBtn[disabled] {
  background-color: rgba(0, 0, 0, .07);
  color: var(--disabled-text-color);
}