.label {
    color: var(--label-color);
    margin: 0;
    font-size: 0.9rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-gap: 10px;
    margin: 10px 0;
}

.board button {
    margin: 0;
    width: 120px;
    min-height: 60px;
    display: block;
}

@media screen and (max-width: 900px) {
    .board {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 500px) {
    .board {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 200px) {
    .board {
        grid-template-columns: repeat(1, auto);
    }
}
